<!doctype html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<title>Webcam Particles Test - By Tuqire Hussain</title>
	<script type="text/javascript" src='js/vendor.js' defer="defer"></script>
	<script type="text/javascript" src='js/bundle.js?v=1.1.0' defer="defer"></script>
	<meta property="og:image" content="https://tuqire.github.io/webcam-particles/images/fb.png">
	<style>
		body {
			color: #ffffff;
			background-color: #000000;
			margin: 0px;
			overflow: hidden;
		}

		#info {
			color: black;
			font-family: Arial, sans-serif;
			font-size: 12px;
			font-weight: bold;
			text-align: center;

			bottom: 0px;
			padding: 15px;
			position: absolute;
			width: 100%;

			box-sizing: border-box;;
		}

		h1 {
			color: black;
			font-family: Arial, sans-serif;
			font-size: 24px;
			font-weight: bold;
			position: absolute;
			margin: 30px 20px;
			top: 0px;
			text-align: center;
		}

		a {
			color: #333;
		}

    #error {
      bottom: 50%;
      left: 20px;
      color: white;
      font-size: 20px;
      position: fixed;
      text-align: center;
      width: 100%;
    }
	</style>
	<meta property="og:url" content="https://tuqire.github.io/webcam-particles/">
	<meta property="og:type"  content="website">
	<meta property="og:title" content="Webcam Particles Test">
	<meta property="og:description" content="A simulation">
</head>
<body>
	<div id="container"></div>
	<div id="error"></div>
	<div id="info">
		V 1.1.0<br><br>
		Requires access to webcam. By <a href="http://www.tuqire.com/">Tuqire Hussain</a>
	</div>
</body>
