<!doctype html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">
	<title>Webcam Particles Test - By Tuqire Hussain</title>
	<script type="text/javascript" src='js/bundle.js?v=1.0.0' defer="defer"></script>
	<style>
		body {
			color: #ffffff;
			background-color: #000000;
			margin: 0px;
			overflow: hidden;
		}
		#info {
			font-family: Arial, sans-serif;
			font-size: 12px;
			text-align: center;
			font-weight: bold;
			color: #ccc;

			position: absolute;
			bottom: 0px;
			width: 100%;
			padding: 15px;

			box-sizing: border-box;;
		}

		a {
			color: #fff;
		}
	</style>
	<meta property="og:url" content="https://tuqire.github.io">
	<meta property="og:type"  content="article">
	<meta property="og:title" content="The Kabaa Project">
	<meta property="og:description" content="A simulation">
</head>
<body>
	<div id="container"></div>
	<div id="info">
		V 1.0.0<br><br>
		By <a href="http://www.tuqire.com/">Tuqire Hussain</a></div>
</body>
